/* write your CSS rules here or in the HTML document */


/* task 1 */

.main-container {
    width: 80%;
    margin: 0 auto;
}


/* task 2 */

h2 {
    color: darkblue;
    background-color: #cccccc;
}


/* task 3 */

p#paragraph2 {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    font-size: 20pt;
}


/* task 4 */

span.on {
    color: #5cb85c;
    font-weight: bold;
    text-decoration: underline;
}


/* task 5 */

#section2 table {
    background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX23025384.jpg");
    background-repeat: repeat;
    color: #2f4f4f;
}


/* task 6 */

thead,
tfoot {
    background-color: rgba(255, 255, 0, 0.6);
    font-style: italic;
}


/* task 7 */

p:hover {
    color: #0000ff;
}


/* task 8 */

ul li {
    list-style-type: square;
}

ol>li {
    /*注意是否要这样改*/
    list-style-type: lower-alpha;
}


/* task 9 */

footer {
    text-align: center;
}